<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Kodinger">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>
			{% block title %}Home
			{% endblock %}
		</title>
		{% block css %}
			<link rel="stylesheet" href="{{asset('home/css/my-login.css')}}"/>

		{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% endblock %}
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="{{asset('home/js/my-login.js')}}"></script>
		{% endblock %}


	</head>
	{% block body %}

		<body class="my-login-page">
			<section class="h-100">
				<div class="container h-100">
					<div class="row justify-content-md-center h-100">
						<div class="card-registerr">
							<div class="brand">
								<img src="{{asset('home/img/logo.jpg')}}" alt="logo"/>
							</div>
							<div class="card fat">
								<div class="card-body">
									<h4 class="card-title">Register</h4>
									{% for flash_error in app.flashes('verify_email_error') %}
										<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
									{% endfor %}

									{{ form_errors(registrationForm) }}

									{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}

									<div class="form-group">
										{{ form_label(registrationForm.username, "Username", {'label_attr':{'class':'form-label'}})}}
										{{ form_widget(registrationForm.username, {'attr':{'class':'form-control'}}) }}

									</div>
									<div class="form-group">
										{{ form_widget(registrationForm.mail, { attr: { class: 'form-control' } }) }}
										{{ form_errors(registrationForm.mail, { attr: { class: 'text-danger' } }) }}

									</div>
									<div class=" form-group">
										{{ form_widget(registrationForm.mdp, { attr: { class: 'form-control' } }) }}
										{{ form_errors(registrationForm.mdp, { attr: { class: 'text-danger' } }) }}
									</div>
									<div class=" form-group">
										{{ form_label(registrationForm.sexe, "Sexe", {'label_attr': {'class': 'text-white'}}) }}
										{{ form_widget(registrationForm.sexe, {'attr': {'class': 'form-control', 'style': 'background-color: #ddd; color: #333;'}}) }}

									</div>
								</div>

								<div class=" form-group">
									{{ form_label(registrationForm.age, "Age", {'label_attr': {'class': 'text-white'}}) }}
									{{ form_widget(registrationForm.age, {'attr': {'class': 'form-control', 'style': 'background-color: #ddd; color: #333;'}}) }}

								</div>

								<div class=" form-group">
									{{ form_label(registrationForm.role, "Role", {'label_attr': {'class': 'text-white'}}) }}
									{{ form_widget(registrationForm.role, {'attr': {'class': 'form-control', 'style': 'background-color: #ddd; color: #333;'}}) }}

								</div>

								<div class="form-group">
									{{ form_label(registrationForm.image, "Image", {'label_attr': {'class': 'text-white'}}) }}
									{{ form_widget(registrationForm.image, {'attr': {'class': 'form-control', 'style': 'background-color: #ddd; color: #333;'}}) }}
								</div>


								<div class="form-group">
									{{ form_row(registrationForm.Register, {'attr': {'class': 'btn btn-success'}}) }}
								</div>

								{{ form_end(registrationForm) }}
								<div class="mt-4 text-center">
									Already have an account?
									<a href="{{path('app_login')}}">Login</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</body>
	</html>
</section></body>{% endblock %}</html>
